@page "/"

<PageTitle>Index</PageTitle>

<div style="text-align: center;">
    <div class="card-body">
        <div class="container overflow-hidden">
            <div class="row gy-6">
                <h1 style="z-index:2">Bienvenido</h1>
                <h2>Gestión de Tareas</h2>
                <button class="btn btn-primary" onclick="window.location.href='login'">
                    Inicio
                </button>              
            </div>
        </div>
    </div>                <img src="images/_0e4fa062-c05a-4cf3-b2f4-415ed5027714.jpeg" width="100%" style="display: block; margin: 0 auto; z-index:1">

</div>
