@page "/login"
@using Task_Management.Model
@using Task_Management.Service
@using Task_Management.Services;
@inject IUserService UserService
@inject NavigationManager NavigationManager
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Components;

<EditForm Model="@userModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div>
        <label for="Email">Correo Electrónico:</label>
        <InputText id="Email" @bind-Value="userModel.Email" class="form-control" />
    </div>
    <div>
        <label for="Password">Contraseña:</label>
        <InputText id="Password" type="password" @bind-Value="userModel.Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

<div>
    <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
</div>
    <ValidationSummary />
</EditForm>

@code {
    private User userModel = new User();

    private  void HandleValidSubmit()
    {
        if (_userService != null && _navigationManager != null)
        {
            // Logic to authenticate the user
            var user =  _userService.Authenticate(userModel.Email, userModel.Password);

            if (user != null)
            {
                // Login successful
                _navigationManager.NavigateTo("/Task");
            }
            else
            {
                // Login failed
                _errorMessage = "Invalid email or password";
            }
        }
    }


    [Inject]
    private IUserService _userService { get; set; }

    [Inject]
    private NavigationManager _navigationManager { get; set; }

    private string _errorMessage = string.Empty;
}